<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.sheridancollege.bookfinders" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
	<application android:label="BookFinders" android:icon="@drawable/pushNotificationLogo">
		<receiver android:enabled="true" android:label="Reboot complete receiver" android:name="crc64657fb3a7f9de8240.BootReceiver" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>