@{
    ViewData["Title"] = "Welcome Librarian!";
    Layout = "../Shared/_Layout";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <br />

    <a href="/Home/PushNotificationForm">
        <button class="btn btn-primary">See History</button>
    </a>

    <br />
    <br />

    <a href="/Home/PushNotificationForm">    
        <button class="btn btn-primary">Create Notification</button>
    </a>

</div>
